.main-article{
    position: relative;
    z-index: 2;
    .main-artcile-content{
        position: relative;
        margin-left: 37px;
        margin-top: -58px;
        background: url('../img/article/articleBg.jpg') bottom left no-repeat;

        clip-path: polygon(0 6%,100% 0, 100% 100%,0 90%);
        article{
            margin-left: 172px;
            display: flex;
            justify-content: space-between;
            padding-top: 216px;
            max-width: 1179px;
            height: 400px;
            padding-bottom: 355px;
            .title{
                max-width: 372px;
                .top-text{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 23px;
                    text-transform: uppercase;
                    color: $grey;
                    margin-bottom: 18px;
                    span{
                        &:first-child{
                            color: $red;
                        }
                        &:last-child{
                            color: #4d595e;
                        }
                    }
                }
                h2{
                    width: 380px;
                    margin-bottom: 20px;
                }
                .desc{
                    color: $white;
                    font-family: 'Merriweather', serif;
                    font-style: italic;
                    font-size: 20px;
                    line-height: 29px;
                }
            }
            .text{  //article text 2 columns
                margin-top: 41px;
                column-count: 2;
                column-fill: auto;
                column-width: 340px;
                column-gap: 20px;
                max-width: 700px;
                p{
                    color: $white;
                    font-family: 'Merriweather', serif;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 25px;
                    &:nth-child(even){
                        margin-top: 23px;
                    }
                }
            }
        }
        aside{  //right label
            position: absolute;
            right: -31px;
            top: 327px;
            color: #ffffff;
            text-transform: uppercase;
            transform: rotate(-90deg);
            .line{
                display: block;
                background-color: $red;
                width: 30px;
                height: 4px;
            }
            p{
                font-size: 11px;
                line-height: 45px;
                font-weight: 400;
            }
        }
    }
}

@media(max-width:1500px){
    .main-article{
        .main-artcile-content{
            
            aside{
                display: none;
            }
            article{
                height: 500px;
                padding-bottom: 120px;
                .text{
                    margin: 41px 20px 0;
                    p{
                        margin-bottom: 10px;
                        margin-top: 0 !important;
                    }
                }
            }
        }
    }
}

@media(max-width:1120px){
    .main-article{
        .main-artcile-content{
            article{
                height: 100%;
                padding-top: 100px;
                .text{
                    margin-top: 0;
                }
                .title, .text{
                    flex: 1 1 50%;
                }
                .title{
                    h2{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media(max-width:870px){
    .main-article{
        .main-artcile-content{
            article{
                margin-left: 20px;
                .title{
                    .top-text{
                        margin-bottom: 10px;
                    }
                    h2{
                        font-size: 22px;
                        line-height: 26px;
                        margin-bottom: 10px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
                .text{
                    p{
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

@media(max-width:700px){
    .main-article{
        .main-artcile-content{
            article{
                flex-direction: column;
                align-items: flex-start;
                .title{
                    margin-bottom: 20px;
                }
                .text{
                    margin-left: 0;
                }
            }
        }
    }
}

@media(max-width:500px){
    .main-article{
        .main-artcile-content{
            margin-left: 0;
            margin-top: -80px;
        }
    }
}