.slider1{
    .owl-dots{
        width: 100%;
        margin: 0 auto;
        position: absolute;
        text-align: center;
        top: auto;
        bottom: -38px;
        right: 112px;
        .owl-dot{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $black;
            box-sizing: border-box;
            cursor: pointer;
            margin-right: 8px;
        }
        .active{
            width: 11px;
            height: 11px;
            background-color: $white;
        }
    }
}
@media(max-width:870px){
    .slider1{
        .owl-dots{
            right: 0;
        }
    }
}