.divider{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.075em;
    padding: 16px 0 14px 85px;
    color: $divider-text-color;
    text-transform: uppercase;
}

.divider2{
    padding-top: 20px;
}

@media(max-width:500px){
    .divider{
        display: none;   
    }
}