footer{
    position: relative;
    background-color: $bottom-bg-color;
    .logo{
        position: absolute;
        left: 0;
        top: 91px;
    }
    .footer-content{
        position: relative;
        margin-left: 207px;
        display: flex;
        justify-content: space-between;
        padding-top: 74px;
        max-width: 1180px;
        padding-bottom: 145px;
        .info{
            max-width: 400px;
            margin-top: 6px;
            p{
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 13px;
                line-height: 25px;
                color: $white;
                &:last-child{
                    margin-top: 24px;
                }
            }
        }
        .contacts{
            max-width: 510px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .social{
                width: 140px;
                display: flex;
                justify-content: space-between;
                margin-top: 46px;
                margin-left: 2px;
                .icon{
                    display: block;
                    width: 40px;
                    height: 40px;
                    background-color: $red;
                    border-radius: 50%;
                    transition: 0.3s;
                    svg{
                        transition: inherit;
                        display: block;
                        margin: 0 auto;
                        width: 18px;
                        height: 18px;
                        fill: $white;
                        margin-top: 10px;
                    }
                    &:hover{
                        background-color: $white;
                        svg{
                            fill: $red;
                        }
                    }
                }

            }
            form{
                position: relative;
                max-width: 340px;
                width: 100%;
                label{
                    display: block;
                    color: $white;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 25px;
                    margin-bottom: 12px;
                    margin-left: 3px;
                }
                #email{
                    width: 300px;
                    height: 49px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    border: 0;
                    box-sizing: border-box;
                    padding-left: 25px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                }
                button{
                    cursor: pointer;
                    position: absolute;
                    height: 49px;
                    width: 41px;
                    background-color: $white;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    border: 0;
                    padding: 0;
                    margin-left: -1px;
                    transition: 0.3s;
                    svg{
                        transition: inherit;
                        margin-top: 5px;
                        margin-left: -4px;
                        width: 17px;
                        height: 20px;
                        fill: $red;
                    }
                    &:hover{
                        background-color: $red;
                        svg{
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1390px){
    footer{
        .footer-content{
            .info{
                margin-right: 30px;
            }
            .contacts{
                form{
                    margin-right: 20px;
                }
            }
        }
    }
}

@media(max-width:1150px){
    footer{
        .footer-content{
            margin-left: 37px;
            flex-direction: column;
            align-items: center;
            padding-bottom: 100px;
            .info{
                width: 70vw;
                max-width: 100%;
                margin: 0 auto;
                margin-bottom: 60px;
                p{
                    text-align: center;
                }
            }
            .contacts{
                max-width: 540px;
            }
        }
    }
}

@media(max-width:660px){
    footer{
        .logo{
            display: none;
        }
    }
}

@media(max-width:560px){
    footer{
        .footer-content{
            .info{
                margin-bottom: 20px;
            }
            .contacts{
                flex-direction: column;
                align-items: center;
                .social{
                    margin-top: 10px;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media(max-width:500px){
    footer{
        .footer-content{
            margin-left: 0;
            .info{
                margin: 0 auto;
            }
            .contacts{
                form{
                    margin: 0 auto;
                }
            }
        }
    }
}

@media(max-width:370px){
    footer{
        .footer-content{
            .contacts{
                form{
                    label{
                        text-align: center;
                    }
                    #email{
                        width: 100%;
                    }
                    button{
                        right: 0;
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                    }
                }
            }
        }
    }
}